jsons==0.5.3
Markdown==3.0.1
Pygments==2.3.1
PyQt5==5.15.1
PyQt5-sip==12.8.1
pyqt5-tools==5.15.1.1.7.5
PyQtWebEngine==5.15.1
python-dotenv==0.9.1
sip==4.19.8
jsons==1.2.0
jsonschema==3.2.0
Markdown==3.3